@model JobsOffers.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>تفاصيل الوظيفة</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Catrgory.CatrgoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catrgory.CatrgoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImg)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model=>model.JobImg)" alt="Alternate Text" class="thumbnail" width="128px" height="128px" />

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("التفدم الى الوظيفة", "Apply", new { id = Model.Id } , new {@class ="btn btn-success" }) |
    @Html.ActionLink("العودة الى الصفحة الرئيسية", "Index" , new { @class = "btn btn-deafult" })
</p>
